@use '@angular/material' as mat;
@import "@angular/material/theming";

// indigo-pink
$primary-indigo-pink: mat.define-palette(mat.$indigo-palette);
$accent-indigo-pink:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn-indigo-pink:    mat.define-palette(mat.$red-palette);

$indigo-pink-theme: mat.define-light-theme($primary-indigo-pink, $accent-indigo-pink, $warn-indigo-pink);

// deep-purple
$primary-deep-purple: mat.define-palette(mat.$deep-purple-palette);
$accent-deep-purple:  mat.define-palette(mat.$amber-palette, A200, A100, A400);

$deep-purple-theme: mat.define-light-theme($primary-deep-purple, $accent-deep-purple);

// pink-bluegrey
$primary-pink-bluegrey: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$accent-pink-bluegrey:  mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$pink-bluegrey-theme: mat.define-dark-theme($primary-pink-bluegrey, $accent-pink-bluegrey);

// purple-green
$primary-purple-green: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent-purple-green:  mat.define-palette(mat.$green-palette, A200, A100, A400);

$purple-green-theme: mat.define-dark-theme($primary-purple-green, $accent-purple-green);
