<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <mat-dialog-content>

      <form [formGroup]="myForm">
        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>question</mat-label>
          <input matInput formControlName="question" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>dateCreation</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dateCreation">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>priorite</mat-label>
          <input matInput formControlName="priorite" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>collaborateurs</mat-label>
          <mat-select formControlName="idCollaborateur" readonly>
            <mat-option *ngFor="let e of collaborateurs | async" [value]="e.id">{{ e.nom }}</mat-option>
          </mat-select>
        </mat-form-field>


      </form>
      <div #scrollMe style="height: 60vh;overflow:hidden; overflow-y:scroll;">
          <mat-card *ngFor="let e of chats; let i=index" class="mb-2">

            <div class="d-flex justify-content-between w-100">
              <span>{{e.idSender === this.session.user.id ? 'Vous' : e.sender}}</span>
              <span class="text-muted" style="font-size: .8em;">{{e.date | date : "dd/MM/yyyy HH:mm"}}</span>
            </div>

            <p>{{e.message}}</p>
            <!-- {{displayName(userToSend)}} -->
            <!-- {{e | json}} -->
          </mat-card>
      </div>

      <form [formGroup]="myFormChat">
        <mat-form-field appearance="fill" class="col-md-12">
          <mat-label>Message</mat-label>
          <input matInput formControlName="message" required>
          <button mat-icon-button matSuffix (click)="send(myFormChat.value)">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>

    </mat-dialog-content>

  </div>
</div>
